<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="events-links-table">
        <tr>
          <th><%= link_to 'Event Details', dater_event_path(@event) %></th>
          <th><%= link_to 'Event Schedule', dater_event_speed_dates_path(@event) %></th>
          <th><%= link_to 'Select Matches', dater_event_dater_path(@event, current_dater) %></th>
        </tr>
      </table>
    </section>
  </aside>  
</div>