<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="table">
        <tr>
          <th><%= link_to 'Event List', admin_events_path %></th>
          <th><%= link_to 'New Event', new_admin_event_path %></th>
          <th><%= link_to 'Log Out', '/' %></th>
              
        </tr>
      </table>
    </section>
  </aside>  
</div>