<% provide(:title, 'All Events') %>

<%= render 'events_links' %>

<div class="row">
  <aside class="col-md-4">
    <h1>Events</h1>

    <%= will_paginate %>
    <section>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Rep Assigned</th>
          <th colspan="2">Daters</th>
          <th>Max Rounds</th>
          <th>Match Email Sent?</th>
          <th colspan="2">Actions</th>
        </tr>

        <%= render @events %>
      </table>
    </section>
    <%= will_paginate %>
  </aside>
</div>
