<% provide(:title, 'All Events') %>
<h1>All Events</h1>

<%= will_paginate %>

<table class="table">
  <tr>
    <th>Event Name</th>
    <th>Date</th>
    <th>Total Daters</th>
    <th>Female Daters</th>
    <th>Male Daters</th>
  </tr>

  <%= render @events %>
</table>

<%= will_paginate %>

<%= link_to "Create New Event", new_admin_event_path, class: "btn btn-lg btn-primary" %>
