<tr>
  <td><%= f.label possible_match[:name], possible_match[:name].present? ? possible_match[:name] : 'Name Missing' %></td>
  <td><%= check_box_tag possible_match[:id], possible_match[:id], possible_match[:match] %></td>
</tr>
