<% provide(:title, @event.title) %>
<%= render 'dater/events/events_links' %>
<%= render 'dater/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @event.title %></h1>

      <h3>Select Your Matches</h3>

      <%= render 'shared/matches', path: dater_event_dater_path %>

    </section>
  </aside>
</div>