<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="banner">
        <tr>
          <th>Speed Dating Organiser</th>
        </tr>
      </table>
    </section>
  </aside>  
</div>