<% provide(:title, 'Speed Dating Organiser') %>
<%= render 'banner' %>

<div class="row">
  <aside class="col-md-2">
    <section>
      <h1>Log In</h1>

      <table class="login-table">
        <tr>
          <td><%= link_to 'Admin', new_admin_session_path %></td>
        </tr>
        <tr>
          <td><%= link_to 'Rep', new_rep_session_path %></td>
        </tr>
        <tr>
          <td><%= link_to 'Dater', new_dater_session_path %></td>
        </tr>
      </table>
    </section>
  </aside>  
</div>

<!-- inside app/views/home/index.html.erb -->
<h1>Welcome, this is the home page</h1>  
  
<button type="button" 
        class="btn btn-lg btn-danger" 
        data-bs-toggle="popover" 
        title="Popover title" 
        data-bs-content="Amazing content, right ?">
        Click to toggle popover
</button>  
