<% provide(:title, 'Speed Dating Organiser') %>
<%= render 'banner' %>

<div class="row">
  <aside class="col-md-2">
    <section>
      <h1>Log In</h1>

      <table class="login-table">
        <tr>
          <td><%= link_to 'Admin', new_admin_session_path %></td>
        </tr>
        <tr>
          <td><%= link_to 'Rep', new_rep_session_path %></td>
        </tr>
        <tr>
          <td><%= link_to 'Dater', new_dater_session_path %></td>
        </tr>
      </table>
    </section>
  </aside>  
</div>