<% provide(:title, @event.title) %>
<%= render 'dater/events/events_links' %>
<%= render 'dater/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>

      <h3>Schedule</h3>

      <% if @event.speed_dates.any? %>
        <%= render 'shared/schedule' %>
      <% else %>
        <p>Please wait.  Schedule has not been created yet.</p>
      <% end %>
    </section>
  </aside>
</div>
