/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {  background-color: rgb(250, 233, 248) ;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;}

.table { background-color:rgb(190, 151, 188);
        border: 1px solid black;
        border-style: double; 
        color: black;
        th, td { border: 1px solid black; } }

.match-table { background-color:rgb(250, 233, 248);
        font-size: x-small;
        border-style: none; 
        color: black; }


a { color: red; }
a:hover { color: hotpink; }

.btn-primary { background-color: rgb(190, 151, 188);
                color: red }

.btn-primary:hover { background-color: hotpink; }