<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="events-links-table">
        <tr>
          <th><%= link_to 'Event List', rep_events_path %></th>
          <th><%= link_to 'Edit Details', edit_rep_registration_path %></th>
          <th><%= link_to 'Log Out', '/logout' %></th>
        </tr>
      </table>
    </section>
  </aside>  
</div>