<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="table">
        <tr>
          <th><%= link_to 'Event Details', rep_event_path(@event) %></th>
          <th><%= link_to 'Event Schedule', rep_event_speed_dates_path(@event) %></th>
          <th><%= link_to 'Daters', rep_event_daters_path(@event) %></th>
          <th><%= link_to 'Matches', rep_event_matches_path(@event) %></th>
        </tr>
      </table>
    </section>
  </aside>  
</div>
