<% provide(:title, 'All Events') %>

<%= render 'events_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>Events</h1>

      <%= will_paginate %>

      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th colspan="2">Daters</th>
          <th>Max Rounds</th>
          <th>Match Email Sent?</th>
          <th colspan="3">Event Info</th>
        </tr>

        <%= render @events %>
      </table>

      <%= will_paginate %>
    </section>
  </aside>
</div>
