<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>
<%= render 'admin/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @event.title %></h1>

      <%= render 'shared/matches', path: admin_event_dater_path %>
    </section>
  </aside>
</div>