<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="banner">
        <tr>
          <th><%= link_to 'Speed Dating Organiser', root_path %></th>
        </tr>
      </table>
    </section>
  </aside>  
</div>